[core]
	excludesfile = /Users/jysperm/.gitignore
[user]
  name = jysperm
  email = jysperm@gmail.com
	signingkey = E466CF1E!
[push]
  default = simple
[alias]
  hl = !git --no-pager log --graph --color --abbrev-commit --decorate --date=relative --pretty=oneline --all | emojify | less --RAW-CONTROL-CHARS
