'.source.js':
  'Inspect':
    'prefix': 'inspect'
    'body': "console.log(require('util').inspect($1, {depth: null}))"

'.source.coffee':
  'Inspect':
    'prefix': 'inspect'
    'body': "console.log require('util').inspect $1, {depth: null}"

'.source.gfm':
  'Cdnimage':
    'prefix': 'cdnimage'
    'body': "{% cdnimage '$1' %}"
